body {
  margin: 0;
  font-family: 'ui-sans-serif','system-ui','-apple-system','BlinkMacSystemFont', 'Segoe UI' ,'Robot', 
  'Helvetica Neue','Arial','Noto Sans','sans-serif','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-header {
  border-bottom: solid;
  border-width: 1px;
  border-color: #ccc;
  padding-left: 15px;
  padding-right: 15px;
}

.page-link {
  font-size: 18px !important;
  text-decoration: none;
  font-weight: bold;
  font-family: 'ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji' !important;
  display: block;
  margin-top: 5px !important;
  color: #0b101ed1;
}

.page-link:hover {
  font-size: 19px !important;
  color: #2e6ac5d1;
}

.page-header-icon {
  color: #2e6ac5d1;
  font-size: 48px !important;
}

.page-header-title {
  color: #0b101ed1;
  font-size: 30px !important;
  vertical-align: 6px !important;
  font-family: 'ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji' !important;
  font-weight: bold;
}

.page-subtitle {
  color: #0b101ed1;
  font-size: 25px !important;
  vertical-align: 6px !important;
  font-family: 'ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji' !important;
  font-weight: bold;
}

.table-responsible {
  font-family: 'ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji' !important;
}

.table-responsive tbody tr:hover {
  cursor: pointer;
}

.table-responsive td a {
  color: #2e6ac5d1;
  font-size: 18px;
}

.table-responsive td a:hover {
  color: #2e6ac5d1;
  font-size: 19px;
}

.form-container {
  height: 440px;
  font-family: 'ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji' !important;
  font-size: 18px;
}

.form-container .label {
  font-weight: bold;
  font-size: 20px;
}

.table-scroll {
  height: 415px;
}

.table-scroll::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.table-scroll::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}